body{
  background-color: OldLace;
}

body.background{
  background-color: OldLace;
}

@import url("https://use.typekit.net/vxv4jde.css");

h1{
  font-family: "degular-display", Arial, sans-serif;
  font-weight: 400%;
  font-style: normal;
  font-size: 96px;
  color: #000000;
}

h2{
  font-family: "degular-display", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  color: #000000;
}

h3{
  font-family: "degular-display", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  color: #000000;
}

h4{
  font-family: "degular-display", Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  color: #000000;
}

p{
  font-family: "degular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-align: left;
  line-height: 1.4em;
  color: #000000;
}

p.return{
  font-family: "degular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-align: left;
  line-height: 1.4em;
  color: #000000;
}

p.media-query{
  font-family: "degular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  line-height: 1.4em;
  color: #000000;
  width: 100%;
  margin: 0 auto;
  top: 50px;
  position: relative;
}

a:link{
  text-decoration: underline;
  color: #000000;
}

a:visited{
  text-decoration: underline;
  color: #58595B;
}

a:hover{
  text-decoration: underline;
  color: #313695;
}

#listFont{
  font-family: "degular", Arial,  sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #000000;
}

#wrapper{
  margin: 0;
  height: 100%;
  width: auto;
  padding-left: 100px;
  padding-top: 50px;
}

button{
  background-color: #FFF5DF;
  border: 1px solid #000000;
  color: #313695;
  font-family: "degular", sans-serif;
  text-transform: none;
  padding: 1em 2em 1em 2em;
}

#hover-button{
  background-color: #FFF5DF;
  border: 1px solid #000000;
  color: #313695;
  font-family: "degular", Arial, sans-serif;
  text-transform: none;
  padding: 1em 2em 1em 2em;
}

#hover-button:hover{
  background-color: #313695;
  border: none;
  color: #FFF5DF;
  font-family: "degular", Arial, sans-serif;
  text-transform: none;
  padding: 1em 2em 1em 2em;
}

/*code for magazine layout*/

h1.layout{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: #000000;
}

h2.layout{
  font-family: "Times New Roman",Times,Georgia,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #000000;
}

h3.layout{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #000000;
}

h4.layout{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #707070;
}

p.layout{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #000000;
}

#magazine-layout{
  width: 1440px;
  height: 1850px;
  background-color: white;
  display: grid;
  grid-template-columns: 480px 960px;
  grid-template-rows: 1090px 760px;
}

#top{
  grid-row: 1/1
}

#top2{
  margin-top:70px;
  margin-left: 60px;
  margin-right: 40px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 420px 920px;
}

#upper-info{
  margin-top: 70px;
  margin-left: 0px;
  margin-right: 50px;
  grid-column: 1/1;
  grid-row: 1/1;
}

#image1{
  margin: 0px;
  grid-column: 2/2;
  grid-row: 1/1;
  width: 920px;
  height: auto;
}

#bottom{
  grid-row: 2/2;
}

#bottom2{
  margin-top: 0px;
  margin-left: 60px;
  margin-right: 40px;
  margin-bottom: 85px;
  display: grid;
  grid-template-columns: 420px 920px;
}

#lower-info{
  margin-top: 140px;
  margin-left: 0px;
  margin-right: 50px;
  margin-bottom: 85px;
  grid-column: 1/1;
  grid-row: 2/2;
}

#image2{
  margin: 0px;
  grid-column: 2/2;
  grid-row: 2/2;
  width: 920px;
  height: auto;
}
