/* CSS */
body.responsive {
  background-color: Cornsilk;
}

h1 {
  text-align: center;
}

#logo-nav {
  float: left;
  display: block;
  height: 50px;
  width: auto;
}

.first-image-container {
  max-width: 100%;
  height: auto;
  padding-top: 30px;
}

#menu, #locations, #contact {
  padding-top: 50px;
}

.menuContent {
  width:85%;
  margin: 0 auto;
}

.menu-1 {
  grid-area: hot;
}

.menu-2 {
  grid-area: cold;
}

.menu-3{
  grid-area: teas;
}

.menu-4 {
  grid-area: sandwiches;
}

.menu-5 {
  grid-area: specials;
}

.menuContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 800px 800px 300px;
  column-gap: 10rem;
  row-gap: 2rem;
  grid-template-areas:
    "hot hot cold cold"
    "teas teas sandwiches sandwiches"
    "specials specials . . ";
}

.teas-1 {
  grid-area: one;
}

.teas-2 {
  grid-area: two;
}

.teasContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "one two";
}

.cold-drinks, .hot-drinks, .teas, .sandwiches, .specials {
  width: 100%;
  margin: 0 auto;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.menu-item-row {
 width: 100%;
 display:flex;
 justify-content: space-between;
 align-items:flex-start;
 padding: 0 0 1rem 0;
}

.menu-item-row p {
 width:30%;
}

.menu-item-row ul {
 width:60%;
 list-style-type: none;
 float: right;
 text-align:right;
}

.menu-item-row ul li {
 width:30%;
 display:inline-block;
}

p.drink-name {
  font-size: 21px;
}

p.replacements {
  font-size: 14px;
  font-style: italic;
}

p.description {

}

.locationsContent {
  width:85%;
  margin: 0 auto;
}

.locations-1 {
  grid-area: map;
}

.locations-2 {
  grid-area: north;
}

.locations-3 {
  grid-area: hayden;
}

.locations-4 {
  grid-area: bio;
}

.locationsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 400px;
  column-gap: 10rem;
  row-gap: 2rem;
  grid-template-areas:
    "map north hayden bio";
}

.header {
  background-color: Cornsilk;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 30px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: Cornsilk;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover, .header .nav-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .navLinks {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .nav-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .nav-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .nav-icon .navicon:before,
.header .nav-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .nav-icon .navicon:before {
  top: 5px;
}

.header .nav-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .nav-btn {
  display: none;
}

.header .nav-btn:checked ~ .navLinks {
  max-height: 240px;
}

.header .nav-btn:checked ~ .nav-icon .navicon {
  background: transparent;
}

.header .nav-btn:checked ~ .nav-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .nav-btn:checked ~ .nav-icon .navicon:after {
  transform: rotate(45deg);
}

.header .nav-btn:checked ~ .nav-icon:not(.steps) .navicon:before,
.header .nav-btn:checked ~ .nav-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .navLinks {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .nav-icon {
    display: none;
  }
}
